*{
    list-style: none;
    margin: 0;padding: 0;
}
.header{
    /* position: relative; */
    width: 100;
    height: auto;
    background: linear-gradient(rgb(0, 204, 255), white);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    position: relative;
}

.page{
    display: flex;
    
}
.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
}

.navbar::before{
    
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
    
}

.page .dis{
    width: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page .dis h2{
    font-size: 3rem;
    font-weight: bold;
    /* color: #fff; */
}

.page .dis p{
    padding: 1rem 0;
    /* color: #fff; */
}
.page .dis button{
    padding: 10px 46px;
    color: white;
    background: linear-gradient(rgb(0, 234, 255), white);
    border-radius: 14px;
}
.page .dis button:hover{
     background: linear-gradient(white, red);
}
.page .img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */


}

.page img{
    height: 91vh;
    /* width: 100%; */
}